.navbar {
    border: 0px none;
    height: 73px;
    width: 90vw;
    }
 .navbar .rectangle {
    background-color: #007CC2;
    height: 73px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    }

.logo{
    color: aliceblue;
    font-weight: 10px;
    font-size: 30px;
    width: 12%;
    margin-top: 15px;
    margin-left: 20px;
}